{% extends 'base.html' %}

{% block main %}

<form action="/login/" method="POST">
        <div class="form-group">
        {{form.login.label}}
        {{form.login(class='form-control', placeholder='Login')}}
        </div>
        <div class="form-group">
        {{form.password.label}}
        {{form.password(class='form-control', placeholder='Password')}}
        </div>
        <div style="margin-top: 15px">
        {{form.submit(class='btn btn-primary')}}
        </div>
</form>


{% endblock main %}