{% extends 'base.html' %}

{% block main%}

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="margin-top: 25px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{tour['photo']}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title">{{ tour ['tour_name']}}</h5>
            <p>Price: {{ tour['price']}}</p>
          <p class="card-text">{{ tour['description']}}</p>
          <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
{% endblock main %}

